.header{
    display: flex;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #a9a9a9;
}

.header__logo {
    font-family: serif;
    font-size: 28px;
    color: #ffb7ff;
    padding-left: 10px;
    width: 100%;
}

.header__nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
}

.header__nav a {
    text-decoration: none;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    text-align: center;
    margin: 20px 10px;
    padding: 5px 20px 5px 20px;
    background-color: #f5f5f5;
    color: black;
    font-size: 16px;
}
.logout-btn{
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    text-align: center;
    margin: 20px 10px;
    padding: 5px 20px 5px 20px;
    background-color: #d3d3d3;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
main{
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;
}