.weight-log-page {
    background-color: #f5f5f5;
}

.weight__content {
    width: 70%;
    background-color: white;
    position: relative;
    top: 70px;
    left: 20%;
}

.weight-log__content {
    position: relative;
    top: 100px;
    left: 20%;
    width: 70%;
    background-color: white;
}

.weight-table__row td {
    font-size: 16px;
    padding: 5px 30px;
    margin: 5px 20px;
}

.weight-table__data td {
    font-size: 45px;
    padding: 10px 30px;
    margin: 5px 20px;
    border-right: 1px solid #a9a9a9;
}

.table-description td:last-child {
    border: none;
}

.weight-table {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.weight-log-page__form {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

.search-form input {
    padding: 4px 3px;
    margin: 5px 5px;
    font-size: 16px;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
}

.search-button {
    padding: 3px 20px;
    margin: 5px 5px;
    font-size: 16px;
    color: white;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 3px;
}

.search-result {
    display: flex;
    justify-content: column;
}

.add-button {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #c1e0ff, #ffccff);
    padding: 5px 30px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}

.reset-button {
    text-decoration: none;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    padding: 3px 20px;
    margin: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

.weight-log-table {
    width: 100%;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.weight-log-table th {
    border-bottom: 1px solid #a9a9a9;
    padding: 20px 20px 20px 20px;
    text-align: left;
}

.weight-log-table td {
    border-bottom: 0.5px solid #f5f5f5;
    padding: 20px 20px 20px 20px;
    text-align: left;
}

.weight-log__detail-btn {
    text-decoration: none;
    color: #ffccff;
}

.pagination-content {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.pagination {
    display: flex;
    margin-left: -90px;
}
.pagination-content.isActive {
    pointer-events: none;
    background: #111;
    color: #fff;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.modal:target {
    display: block;
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    border: 1px solid #8b7969;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.modal__inner h2 {
    margin-left: 10px;
}

.modal__content {
    position: relative;
    padding: 64px 64px;
}

.modal-form__group {
    margin-top: 32px;
}

.modal-form__label {
    font-size: 16px;
}

.required {
    background-color: red;
    color: white;
    font-size: 14px;
    margin-left: 5px;
    padding: 0 5px;
}

.modal-form__input {
    display: flex;
}

.modal-form__input input,
.modal-form__input textarea {
    width: 90%;
    padding: 5px 3px;
    margin-top: 5px;
    font-size: 16px;
}

.modal-form__input input {
    width: 90%;
    padding: 5px 3px;
    margin-top: 5px;
    font-size: 16px;
}

.input-unit {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 16px;
}
.modal-form__btn {
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.btn__return {
    text-decoration: none;
    background-color: #c0c0c0;
    border-radius: 10px;
    color: black;
    padding: 5px 40px;
}

.btn__update {
    border: none;
    background: linear-gradient(90deg, #c1e0ff, #ffccff);
    font-size: 18px;
    border-radius: 10px;
    color: white;
    padding: 5px 40px;
}

.modal-form__delete-btn{
    display: flex;
    justify-content: end;
}

.delete-icon{
    border: none;
    font-size: 22px;
    color: red;
    background-color: transparent;
    cursor: pointer;
}

.form__error{
    color: red;
    font-size: 14px;

}