.header__inner {
    height: 20%;
    width: 100%;
}

.title {
    font-size: 30px;
    margin: 0 auto;
    font-family: serif;
}

.login-form__contet {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}

.login-form__contet label {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 18px;
}

.login-form__contet input {
    padding: 15px 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.login-form__button {
    display: flex;
    justify-content: center;
}

.login-form__button button {
    border: none;
    border-radius: 3px;
    background: linear-gradient(90deg, #c1e0ff, #ffccff);
    padding: 5px 50px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-page__button a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-family: serif;
    margin: 10px 0 10px 0;
    text-decoration: none;
    color: #7fbfff;
}

.login-page__button {
    padding-bottom: 50px;
}

.form__error{
    color: red;
    font-size: 14px;

}