.header__inner {
    height: 20%;
    width: 100%;
}

.title {
    font-size: 30px;
    margin: 0 auto;
    font-family: serif;
}

.sub-title {
    font-size: 18px;
}

.register-form__contet {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}

.register-form__contet label {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 18px;
}

.input-form{
    display: flex;
}

.input-form input {
    padding: 15px 10px;
    width: 90%;
    margin: 5px 5px 20px 0;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

.weight-pound {
    font-size: 20px;
}

.register-form__button {
    display: flex;
    justify-content: center;
}

.register-form__button button {
    border: none;
    border-radius: 3px;
    background: linear-gradient(90deg, #c1e0ff, #ffccff);
    padding: 5px 50px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.register-form__button {
    padding-bottom: 50px;
}

.register-form__error-message{
    color: red;
    font-size: 16px;
}
